@media screen and (min-width: 760px) {
	
/****************************************
 * ABOUT
 ***************************************/

	.foto-profilo {
		float: left;
		margin: 0 5% 50px 0;
	}

/****************************************
 * PALLAVOLO
 ***************************************/

	.img-1 {
		float: right;
	}

	.img-2 {
		float: left;
		width: 450px;
		margin: 15px 15px 10px 0;
	}

	.campo-pallavolo {
		max-width: 100%;
	}

	.img-3 {
		width: 550px;
		display: block;
		margin: 10px auto;
	}

	.p-img {
		padding-top: 30px;
		margin: 0;
	}

	.img-4 {
		width: 450px;
		display: block;
		margin: 10px auto;
	}

	.img-6 {
		width: 650px;
		margin: 10px auto;
	}

	.img-7 {
		width: 300px;
		margin: 10px auto;
	}

	.img-8 img {
		width: 400px;
	}

	.img-9 {
		width: 550px;
		display: block;
		margin: 10px auto;
	}

	.img-max {
		min-width: 700px;
	}
	
/****************************************
 * COMMENTI FOTO
 ***************************************/

	.commenti-foto {
		font-size: 0.90em;
	}


/****************************************
 * INDEX
 ***************************************/
	#gallery li {
		width: 28.333333%;
	}

	nav a {
		padding: 0 3px;
		font-weight: bold;
		font-size: 0.85em;
	}


}




